.title
{
	font-family: 'Graduate', cursive;
}

.text
{
	font-family: 'Graduate', cursive;
	font-size: 13px;
}

.buttons-left-middle 
{
	width: 25;
	height: 15;
  	margin-right: 16px;
  	font-family: 'Graduate', cursive;
    font-size: 12px;
}

.buttons-right
{
	width: 25;
	height: 15;
	font-family: 'Graduate', cursive;
    font-size: 12px;
}

.input
{
	width: 100px;
	height: 20px;
}

.close
{
    visibility: hidden;
}
