@import url(http://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,latin-ext);

.title
{
	font-family: 'Roboto', sans-serif;
}

.text
{
	font-family: 'Roboto', sans-serif;
	font-size: 13px;
}

.buttons-left-middle 
{
	width: 25;
	height: 15;
  	margin-right: 16px;
  	font-family: 'Roboto', sans-serif;
    font-size: 12px;
}

.buttons-right
{
	width: 25;
	height: 15;
	font-family: 'Roboto', sans-serif;
    font-size: 12px;
}

.input
{
	width: 100px;
	height: 20px;
}

.bootbox-close-button
{
    visibility: hidden;
}

.center-table
{
  margin: 0 auto;
  float: none;
}

.center-div{
	width: 600px;
	margin-left: auto;
	margin-right: auto;
}